/* Container for the food list table */
.food-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Add Food button style */

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5%;
}

.add-food-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-food-button:hover {
  background-color: #45a049;
}


/* Food list table */
.food-list-table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header */
.food-list-table th {
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

/* Table rows */
.food-list-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Delete button style */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Style for food details */
.food-details {
  margin-top: 20px;
}

.food-details h1 {
  font-size: 24px;
  font-weight: bold;
}

.food-details h2 {
  font-size: 18px;
}

.food-details h2 + h2 {
  margin-top: 10px;
}

/* app/assets/stylesheets/food_list.css */

/* Container style for the form and error messages */
.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align children to the right side */
}

/* Style for form labels */
.form-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Style for form fields */
.form-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
}

/* Style for form submit button */
.form-submit {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #45a049;
}

/* Style for error messages */
.error-messages {
  margin-top: 20px;
  color: red;
  font-size: 14px;
}

.error-messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error-messages li {
  margin-bottom: 5px;
}
